/* WhatsAppButton.css */
.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 18px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    z-index: 9999; 
    transition: background-color 0.3s ease; 
  }
  
  .whatsapp-button a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
  }
  
  .progress-wrap {
    position: fixed;
    bottom: 70px; 
    right: 20px;
    cursor: pointer;
  }
  
  .active-progress svg {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .progress-wrap svg {
    transform: rotate(180deg);
  }
  
  .main-footer {
    background-color: #000;
  }

  .footer-bottom-menu ul li a {
    color: #fff;
  }

  .footer-bottom-menu ul li a:hover {
    color: #FFC800;
  }

  .copyright-text p {
    color: #fff;
  }